<div class="container">
  <img src="https://img.freepik.com/premium-vector/lottery-online-vector-illustration-man-woman-people-character-win-jackpot-internet-fortune-wheel-play-lucky-game-smartphone-winner-get-car-money-prize-gamble-entertainment-concept_109722-3321.jpg?size=626&ext=jpg&ga=GA1.1.1462797439.1713955124&semt=ais">  
</div>
<div class="myheader text-center"><h1>🎉Welcome! To EventsHub🎉</h1>
    <p><b>Login To view Events and Book Tickets</b></p>
    
</div>
<div class="second text-center">
    <button (click)="onlogin()">LOGIN</button>
</div>
