<div class="container text-center">
    <div id="about">
        <h1 class="text-center">     About EventsHub</h1>
        <div class="container" id="div1">
            <img class="container img" src="https://img.freepik.com/premium-photo/sunset-beach-party-scene-with-joyful-crowd_146482-19829.jpg?size=626&ext=jpg">
            <br>
            <p>
                One time or recurring events are being set up by people, companies or organisations for various gatherings all over the world all the time. In many of these cases, the event is limited by the number of participants that can participate and in such case it is important that people reserve their place. Very often, the organizer may also want to accept payments from the participants and then, an online appointment scheduler can be very useful, because people can pay at the same time they make a booking.
                The SimplyBook.me booking system is extremely flexible and allows event organizers to create a booking website, where clients and participants can come and reserve their places. They can also pay and give more information about themselves during the booking process. It is also very simple to set up multiple or recurring events.
        </p>
      
    </div>
</div>
