#about h1 {
    color: #444;
    text-align: center;
}
 
#about p {
    line-height: 1.6;
}
 
.container img {
    /* width: 100px; */
    /* height: 50px; */
    margin: auto;
    display: block;
}
 
#div1 {
    margin-top: 30px;
    margin-bottom: 30px;
}